.navbar {
  .block-search {
    form {
      display: flex;
      flex-direction: column;
      text-align: center;

      @include media-breakpoint-up(sm) {
        flex-direction: row;
      }

      .form-actions {
        margin-top: $spacer / 2;
        @include media-breakpoint-up(md) {
          margin-left: $spacer / 2;
          margin-top: 0;
        }
      }
    }
  }
}

.navbar-nav {
  .nav-link {
    padding-left: $navbar-nav-link-padding-x;
    padding-right: $navbar-nav-link-padding-x;
  }
  .dropdown-toggle {
    &::after {
      float: right;
      @include media-breakpoint-up(lg) {
        clear: both;
        float: none;
      }
    }
  }
}

.navbar-brand {
  .site-slogan {
    display: none;
    font-size: $navbar-brand-font-size;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
  .site-title {
    font-size: $navbar-brand-font-size;
  }
  img {
    height: $navbar-brand-height;
    width: auto;
    margin-right: $navbar-nav-link-padding-x;
  }
}

.navbar-toggler-icon {
  background-image: escape-svg($navbar-light-toggler-icon-bg);
}